Answer 1.

In [1]:
for i in range(2000,3201):
    if i%7 == 0 and i%5!=0:
        print(i,end=',')
print("\b")

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,

Answer 2.

In [2]:
n = int(input())

fact = 1
i = 1
while i <= n:
    fact = fact * i;
    i = i + 1
print(fact)

8
40320

Answer 3.

In [6]:
num = int(input("Number: "))
print(dict(enumerate([i*i for i in range(1, num+1)], 1)))

Number: 8
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

Answer 4.

In [7]:
lst = input().split(',')  

tpl = tuple(lst)          

print(lst)
print(tpl)

34,67,55,33,12,98
['34', '67', '55', '33', '12', '98']
('34', '67', '55', '33', '12', '98')

Answer 5.

In [8]:
class IOstring():
    def get_string(self):
        self.s = input()

    def print_string(self):
        print(self.s.upper())

xx = IOstring()
xx.get_string()
xx.print_string()

8
8

Answer 6.

In [9]:
from math import sqrt

C,H = 50,30

def calc(D):
    return sqrt((2*C*D)/H)

D = input().split(',')                     
D = [str(round(calc(int(i)))) for i in D]  
print(",".join(D))

100,150,180
18,22,24

Answer 7.

In [10]:
x,y = map(int,input().split(','))
lst = []

for i in range(x):
    tmp = []
    for j in range(y):
        tmp.append(i*j)
    lst.append(tmp)

print(lst)

3,5
[[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6, 8]]

Answer 8.

In [11]:
def my_func(e):
    return e[0]

my_list = input('Enter a comma separated string: ').split(",")
my_list.sort(key=my_func)
print(",".join(my_list))

Enter a comma separated string: without,hello,bag,world
bag,hello,without,world

Answer 9.

In [3]:
lst = []

while True:
    x = input()
    if len(x)==0:
        break
    lst.append(x.upper())

for line in lst:
    print(line)

Hello world
Practice makes perfect

HELLO WORLD
PRACTICE MAKES PERFECT

Answer 10.

In [4]:
word = input().split()

for i in word:
    if word.count(i) > 1:    
        word.remove(i)     

word.sort()
print(" ".join(word))

hello world and practice makes perfect and hello world again
again and hello makes perfect practice world

Answer 11.

In [5]:
def check(x):                   
    return int(x,2)%5 == 0      
                                
data = input().split(',')

data = list(filter(check,data)) 
print(",".join(data))

0100,0011,1010,1001
1010

Answer 12.

In [6]:
def check(element):
    return all(ord(i)%2 == 0 for i in element)  
lst = [str(i) for i in range(1000,3001)]        
lst = list(filter(check,lst))                 
print(",".join(lst))

2000,2002,2004,2006,2008,2020,2022,2024,2026,2028,2040,2042,2044,2046,2048,2060,2062,2064,2066,2068,2080,2082,2084,2086,2088,2200,2202,2204,2206,2208,2220,2222,2224,2226,2228,2240,2242,2244,2246,2248,2260,2262,2264,2266,2268,2280,2282,2284,2286,2288,2400,2402,2404,2406,2408,2420,2422,2424,2426,2428,2440,2442,2444,2446,2448,2460,2462,2464,2466,2468,2480,2482,2484,2486,2488,2600,2602,2604,2606,2608,2620,2622,2624,2626,2628,2640,2642,2644,2646,2648,2660,2662,2664,2666,2668,2680,2682,2684,2686,2688,2800,2802,2804,2806,2808,2820,2822,2824,2826,2828,2840,2842,2844,2846,2848,2860,2862,2864,2866,2868,2880,2882,2884,2886,2888

Answer 13.

In [10]:
word = input()
letter,digit = 0,0

for i in word:
    if ('a'<=i and i<='z') or ('A'<=i and i<='Z'):
        letter+=1
    if '0'<=i and i<='9':
        digit+=1

print("LETTERS {0}\nDIGITS {1}".format(letter,digit))

hello world! 123
LETTERS 10
DIGITS 3

Answer 14.

In [11]:
word = input()
upper,lower = 0,0

for i in word:
        lower+=i.islower()
        upper+=i.isupper()

print("UPPER CASE {0}\nLOWER CASE {1}".format(upper,lower))

Hello world!
UPPER CASE 1
LOWER CASE 9

Answer 15.

In [12]:
a = input()
total,tmp = 0,str()       

for i in range(4):
    tmp+=a               
    total+=int(tmp)      

print(total)

9
11106

Answer 16.

In [13]:
seq = input().split(',') 
lst = [int(i) for i in seq]
def flt(i):                               
    return i % 2 != 0
result_l = [str(i * i) for i in filter(flt,lst)]      
print(",".join(result_l))

1,2,3,4,5,6,7,8,9
1,9,25,49,81

Answer 17.

In [15]:
total = 0
while True:
    s = input().split()
    if not s:            
        break
    cm,num = map(str,s)  

    if cm=='D':
        total+=int(num)
    if cm=='W':
        total-=int(num)

print(total)

D 300
D 300
W 200
D 100

500

Answer 18.

In [16]:
def check(x):
    cnt = (6<=len(x) and len(x)<=12)
    for i in x:
        if i.isupper():
            cnt+=1
            break
    for i in x:
        if i.islower():
            cnt+=1
            break
    for i in x:
        if i.isnumeric():
            cnt+=1
            break
    for i in x:
        if i=='@' or i=='#'or i=='$':
            cnt+=1
            break
    return cnt == 5               

s = input().split(',')
lst = filter(check,s)             
print(",".join(lst))

ABd1234@1,a F1#,2w3E*,2We3345
ABd1234@1

Answer 19.

In [17]:
lst = []
while True:
    s = input().split(',')
    if not s[0]:                        
        break
    lst.append(tuple(s))

lst.sort(key= lambda x:(x[0],int(x[1]),int(x[2]))) 
print(lst)

Tom,19,80
John,20,90
John,27,91
John,17,93
John,21,85

[('John', '17', '93'), ('John', '20', '90'), ('John', '21', '85'), ('John', '27', '91'), ('Tom', '19', '80')]

Answer 20.

In [21]:
class MyGen():
    def by_seven(self, n):
        for i in range(0, int(n/7) + 1):
            yield i * 7

for i in MyGen().by_seven( int(input('Please enter a number... ')) ):
    print(i)

Please enter a number... 14
0
7
14

Answer 21.

In [23]:
import  math

x,y = 0,0
while True:
    s = input().split()
    if not s:
        break
    if s[0]=='UP':                  # s[0] indicates command
        x-=int(s[1])                # s[1] indicates unit of move
    if s[0]=='DOWN':
        x+=int(s[1])
    if s[0]=='LEFT':
        y-=int(s[1])
    if s[0]=='RIGHT':
        y+=int(s[1])
                                    # N**P means N^P
dist = round(math.sqrt(x**2 + y**2))  # euclidean distance = square root of (x^2+y^2) and rounding it to nearest integer
print(dist)

UP 5
DOWN 3
LEFT 3
RIGHT 2

2

Answer 22.

In [24]:
ss = input().split()
dict = {}
for i in ss:
    i = dict.setdefault(i,ss.count(i))    

dict = sorted(dict.items())               
                                          
for i in dict:
    print("%s:%d"%(i[0],i[1]))

New to Python or choosing between Python 2 and Python 3? Read Python 2 or Python 3.
2:2
3.:1
3?:1
New:1
Python:5
Read:1
and:1
between:1
choosing:1
or:2
to:1

Answer 23.

In [25]:
n=int(input())
print(n**2)

8
64

Answer 24.

In [28]:
print(str.__doc__)
print(sorted.__doc__)

def pow(n,p):
    '''
    param n: This is any integer number
    param p: This is power over n
    return:  n to the power p = n^p
    '''

    return n**p

print(pow(3,4))
print(pow.__doc__)

str(object='') -> str
str(bytes_or_buffer[, encoding[, errors]]) -> str

Create a new string object from the given object. If encoding or
errors is specified, then the object must expose a data buffer
that will be decoded using the given encoding and error handler.
Otherwise, returns the result of object.__str__() (if defined)
or repr(object).
encoding defaults to sys.getdefaultencoding().
errors defaults to 'strict'.
Return a new list containing all items from the iterable in ascending order.

A custom key function can be supplied to customize the sort order, and the
reverse flag can be set to request the result in descending order.
81

    param n: This is any integer number
    param p: This is power over n
    return:  n to the power p = n^p

Answer 25.

In [29]:
class Car:
    name = "Car"

    def __init__(self,name = None):
        self.name = name

honda=Car("Honda")
print("%s name is %s"%(Car.name,honda.name))

toyota=Car()
toyota.name="Toyota"
print("%s name is %s"%(Car.name,toyota.name))

Car name is Honda
Car name is Toyota

Answer 26.

In [30]:
sum = lambda n1,n2 : n1 + n2      
print(sum(1,2))

3

Answer 27.

In [31]:
conv = lambda x : str(x)
n = conv(10)
print(n)
print(type(n))

10
<class 'str'>

Answer 28.

Same question as Q27

Answer 29.

In [32]:
sum = lambda s1,s2 : int(s1) + int(s2)
print(sum("10","45"))

55

Answer 30.

In [33]:
sum = lambda s1,s2 : s1 + s2
print(sum("10","45"))

1045

Answer 31.

In [3]:
def print_longer_string(s1, s2):
    if len(s1) == len(s2):
        print("The strings have equal length")
    else:
        print("The longer string is:")
        print(s1 if len(s1) > len(s2) else s2)

if __name__ == '__main__':
    s1 = input("Enter the first string: ")
    s2 = input("Enter the second string: ")
    print_longer_string(s1, s2)

Enter the first string: muqeem
Enter the second string: nasir
The longer string is:
muqeem

Answer 32.

In [10]:
num = int(input("Enter a number: "))
mod = num % 2
if mod > 0:
    print("It is an odd number.")
else:
    print("It is an even number.")

Enter a number: 5
This is an odd number.

Answer 33.

In [18]:
def printDict():
    dict = {i: i**2 for i in range(1, 4)}
    print(dict)
    
printDict()

{1: 1, 2: 4, 3: 9}

Answer 34.

In [17]:
def printDict():
    dict = {i: i**2 for i in range(1, 21)}
    print(dict)
    
printDict()

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400}

Answer 35.

In [13]:
def printDict():
    dict = {i: i**2 for i in range(1, 21)}
    print(dict.values())      

printDict()

dict_values([1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400])

Answer 36.

In [19]:
def printDict():
    dict = {i: i**2 for i in range(1, 21)}
    print(dict.keys())      

printDict()

dict_keys([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20])

Answer 37.

In [20]:
def printList():
    lst = [i ** 2 for i in range(1, 21)]
    print(lst)

printList()

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

Answer 38.

In [21]:
def printList():
    lst = [i ** 2 for i in range(1, 21)]

    for i in range(5):
        print(lst[i])

printList()

1
4
9
16
25

Answer 39.

In [22]:
def printList():
    lst = [i ** 2 for i in range(1, 21)]

    for i in range(19,14, -1):
        print(lst[i])

printList()

400
361
324
289
256

Answer 40.

In [23]:
def printList():
    lst = [i ** 2 for i in range(1, 21)]
    for i in range(5,20):
        print(lst[i])

printList()

36
49
64
81
100
121
144
169
196
225
256
289
324
361
400

Answer 41.

In [24]:
def printTupple():
    lst = [i ** 2 for i in range(1, 21)]
    print(tuple(lst))

printTupple()

(1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400)

Answer 42.

In [25]:
tup = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
lt = int(len(tup)/2)
print(tup[:lt], tup[lt:])

(1, 2, 3, 4, 5) (6, 7, 8, 9, 10)

Answer 43.

In [27]:
tpl = (1,2,3,4,5,6,7,8,9,10)
tpl1 = tuple(i for i in tpl if i%2 == 0)
print(tpl1)

(2, 4, 6, 8, 10)

Answer 44.

In [29]:
input = input('Enter string:')
output = ''.join(['Yes' if input == 'yes' or input =='YES' or input =='Yes' else 'No' ])
print(str(output))

Enter string:Hello
No

Answer 45.

In [53]:
li = [1,2,3,4,5,6,7,8,9,10]
evenNumbers = filter(lambda x: x%2==0, li)
print (list(evenNumbers))

[2, 4, 6, 8, 10]

Answer 46.

In [30]:
def sqrs(item):
    return item ** 2


lst = [i for i in range(1, 11)]
print(list(map(sqrs, lst)))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Answer 47.

In [31]:
def even(item):
    if item % 2 == 0:
        return item**2


lst = [i for i in range(1, 11)]
print(list(filter(lambda j: j is not None, list(map(even, lst)))))

[4, 16, 36, 64, 100]

Answer 48.

In [32]:
def even(x):
    return x%2==0

evenNumbers = filter(even, range(1,21))
print(list(evenNumbers))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

Answer 49.

In [33]:
def sqr(x):
    return x*x

squaredNumbers = list(map(sqr, range(1,21)))
print (squaredNumbers)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

Answer 50.

In [55]:
class American():
    @staticmethod
    def printNationality():
        print("I am American")

anAmerican = American()
anAmerican.printNationality()   
                              
American.printNationality()

I am American
I am American

Answer 51.

In [36]:
class American():
    pass

class NewYorker(American):
    pass

american = American()
newyorker = NewYorker()

print(american)
print(newyorker)

<__main__.American object at 0x000001784BA5C828>
<__main__.NewYorker object at 0x000001784BA5C7F0>

Answer 52.

In [37]:
class Circle():
    def __init__(self,r):
        self.radius = r

    def area(self):
        return 3.1416*(self.radius**2)


circle = Circle(5)
print(circle.area())

78.53999999999999

Answer 53.

In [38]:
class Rectangle():
    def __init__(self,l,w):
        self.length = l
        self.width = w

    def area(self):
        return self.length*self.width


rect = Rectangle(2,4)
print(rect.area())

8

Answer 54.

In [39]:
class Shape():
    def __init__(self):
        pass

    def area(self):
        return 0

class Square(Shape):
    def __init__(self,length = 0):
        Shape.__init__(self)
        self.length = length

    def area(self):
        return self.length*self.length

Asqr = Square(5)
print(Asqr.area())      # prints 25 as given argument

print(Square().area())  # prints zero as default area

25
0

Answer 55.

In [41]:
def divide():
    return 5/0

try:
    divide()
except ZeroDivisionError as ze:
    print("Why you are dividing a number by ZERO!!")
except:
    print("Any other exception")

Why you are dividing a number by ZERO!!

Answer 56.

In [58]:
class CustomException(Exception):
    """Exception raised for custom purpose

    Attributes:
        message -- explanation of the error
    """

    def __init__(self, message):
        self.message = message


error = CustomException("something wrong")

Answer 57.

In [43]:
import re

email = "Chandra@analytixlabs.com mac@python.com"
pattern = "(\w+)@\w+.com"
ans = re.findall(pattern,email)
print(ans)

['Chandra', 'mac']

Answer 58.

In [44]:
import re

email = "Chandra@analytixlabs.com mac@python.com"
pattern = "\w+@(\w+).com"
ans = re.findall(pattern,email)
print(ans)

['analytixlabs', 'python']

Answer 59.

In [5]:
import re
s= input()
pattern = "\d+"
ans = re.findall(pattern,s)
print(ans)

2 cat 3 dog
['2', '3']

Answer 60.

In [65]:
unicodeString = u"hello world!"
print (unicodeString)

hello world!

Answer 61.

In [4]:
s = input()
u = s.encode('utf-8')
print (u)

104101108108111443211911111410810033
b'104101108108111443211911111410810033'

Answer 62.

In [69]:
# -*- coding: utf-8 -*-

Answer 63.

In [1]:
n = int(input())
sum = 0
for i in range(1, n+1):
    sum+= i/(i+1)
print(round(sum, 2))

5
3.55

Answer 64.

In [6]:
n = int(input())
f = lambda x: f(x-1)+100 if x > 0 else 0
print(f(n))

5
500

Answer 65.

In [7]:
def f(n):
    if n < 2:
        return n
    return f(n-1) + f(n-2)

n = int(input())
print(f(n))

7
13

Answer 66.

In [16]:
def fibo(n):
    if n == 0:
        return [0]
    if n == 1:
        return [0, 1]
    sequence = [0, 1]
    a, b = 0, 1
    for x in range(2, n+1):
        c = a + b
        sequence.append(c)
        a = b
        b = c
    return sequence

print(fibo(int(input())))

7
[0, 1, 1, 2, 3, 5, 8, 13]

Answer 67.

In [17]:
n = int(input())

for i in range(0, n+1, 2):
  if i < n - 1:
    print(i, end = ',' )
  else:
    print(i)

10
0,2,4,6,8,10

Answer 68.

In [18]:
def generate(n):
    for i in range(n+1):
        if i % 35 == 0:   
            yield i

n = int(input())
resp = [str(i) for i in generate(n)]
print(",".join(resp))

100
0,35,70

Answer 69.

In [1]:
data = [2,4,5,6]
for i in data:
    assert i%2 == 0, "{} is not an even number".format(i)

AssertionError: 5 is not an even number

Answer 70.

In [3]:
expression = input()
ans = eval(expression)
print(ans)

35+3
38

Answer 71.

In [4]:
def binary_search(lst, item):
    low = 0
    high = len(lst) - 1
    
    while low <= high:
        mid = round((low + high) / 2)
        
        if lst[mid] == item:
            return mid
        elif lst[mid] > item:
            high = mid - 1
        else:
            low = mid + 1
    return None
    
lst = [1,3,5,7,]
print(binary_search(lst, 9))

None

Answer 72.

Same Ques as Q71

Answer 73.

In [5]:
import random
rand_num = random.uniform(10,100)
print(rand_num)

89.82733870154784

Answer 74.

In [6]:
import random
rand_num = random.uniform(5,95)
print(rand_num)

87.96756045557285

Answer 75.

In [7]:
import random
resp = [i for i in range(0,11,2)]
print(random.choice(resp))

8

Answer 76.

In [11]:
import random
resp = [i for i in range(0,10) if i % 35 == 0 ]
print(random.choice(resp))

0

Answer 77.

In [9]:
import random
resp = random.sample(range(100,201),5)
print(resp)

[126, 196, 111, 198, 177]

Answer 78.

In [12]:
import random
resp = random.sample(range(100,201,2),5)
print(resp)

[186, 188, 178, 124, 106]

Answer 79.

In [13]:
import random
lst = [i for i in range(1,1001) if i%35 == 0]
resp = random.sample(lst,5)
print(resp)

[140, 385, 735, 595, 805]

Answer 80.

In [15]:
import random
print (random.randrange(7,16))

8

Answer 81.

In [17]:
import zlib
s = 'hello world!hello world!hello world!hello world!'
# In Python 3 zlib.compress() accepts only DataType <bytes>
y = bytes(s, 'utf-8')
x = zlib.compress(y)
print(x)
print(zlib.decompress(x))

b'x\x9c\xcbH\xcd\xc9\xc9W(\xcf/\xcaIQ\xcc \x82\r\x00\xbd[\x11\xf5'
b'hello world!hello world!hello world!hello world!'

Answer 82.

In [19]:
import datetime

before = datetime.datetime.now()
for i in range(100):
    x = 1 + 1
after = datetime.datetime.now()
execution_time = after - before
print(execution_time.microseconds)

0

Answer 83.

In [27]:
import random

lst = [3,6,7,8]
random.shuffle(lst)
print(lst)

[3, 8, 7, 6]

Answer 84.

Same Que as Q83

Answer 85.

In [28]:
import itertools
subject = ["I", "You"]
verb = ["Play", "Love"]
objects = ["Hockey","Football"]

sentence = [subject, verb, objects]
n = list(itertools.product(*sentence))
for i in n: 
    print(i)

('I', 'Play', 'Hockey')
('I', 'Play', 'Football')
('I', 'Love', 'Hockey')
('I', 'Love', 'Football')
('You', 'Play', 'Hockey')
('You', 'Play', 'Football')
('You', 'Love', 'Hockey')
('You', 'Love', 'Football')

Answer 86.

In [29]:
li = [5,6,77,45,22,12,24]
lst = list(filter(lambda n:n%2!=0,li))
print(lst)

[5, 77, 45]

Answer 87.

In [30]:
li = [12,24,35,70,88,120,155]
li = [x for x in li if x % 35!=0]
print(li)

[12, 24, 88, 120, 155]

Answer 88.

In [31]:
li = [12,24,35,70,88,120,155]
li = [li[i] for i in range(len(li)) if i%2 != 0 and i <= 6]
print(li)

[24, 70, 120]

Answer 89.

In [34]:
array = [[ [0 for col in range(8)] for col in range(5)] for row in range(3)]
print (array)

[[[0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0]], [[0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0]], [[0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0]]]

Answer 90.

In [35]:
li = [12,24,35,70,88,120,155]
li = [li[i] for i in range(len(li)) if i not in (0,4,5)]
print(li)

[24, 35, 70, 155]

Answer 91.

In [36]:
li = [12,24,35,24,88,120,155]
li.remove(24)  # this will remove only the first occurrence of 24
print(li)

[12, 35, 24, 88, 120, 155]

Answer 92.

In [37]:
list1 = [1,3,6,78,35,55]
list2 = [12,24,35,24,88,120,155]
set1= set(list1)
set2= set(list2)
intersection = set.intersection(set1,set2)
print(intersection)

{35}

Answer 93.

In [38]:
def removeDuplicate( li ):
    seen = {}  # dictionary
    for item in li:
        if item not in seen:
            seen[item] = True
            yield item

li = [12, 24, 35, 24, 88, 120, 155, 88, 120, 155]
ans = list(removeDuplicate(li))
print(ans)

[12, 24, 35, 88, 120, 155]

Answer 94.

In [40]:
class Person(object):
    def __init__(self):
        self.gender = "unknown"

    def getGender(self):
        print(self.gender)

class Male(Person):
    def __init__(self):
        self.gender = "Male"

class Female(Person):
    def __init__(self):
        self.gender = "Female"

sharon = Female()
doug = Male()
sharon.getGender()
doug.getGender()

Female
Male

Answer 95.

In [41]:
import string

s = input()
for letter in string.ascii_lowercase:
    cnt = s.count(letter)
    if cnt > 0:
        print("{},{}".format(letter,cnt))

ets the ascii value of a char
a,4
c,2
e,3
f,1
h,2
i,2
l,1
o,1
r,1
s,2
t,2
u,1
v,1

Answer 96.

In [43]:
s = input()
s = ''.join(reversed(s))
print(s)

Basic Python Exercises 100 Questions
snoitseuQ 001 sesicrexE nohtyP cisaB

Answer 97.

In [44]:
s = "H1e2l3l4o5w6o7r8l9d"
s = [ s[i] for i in range(len(s)) if i%2 ==0 ]
print(''.join(s))

Helloworld

Answer 98.

In [45]:
from itertools import permutations

def permuation_generator(iterable):
    p = permutations(iterable)
    for i in p:
        print(i)


x = [1,2,3]
print(permuation_generator(x))

(1, 2, 3)
(1, 3, 2)
(2, 1, 3)
(2, 3, 1)
(3, 1, 2)
(3, 2, 1)
None

Answer 99.

In [49]:
def solve(numheads,numlegs):
    ns='No solutions!'
    for i in range(numheads+1):
        j=numheads-i
        if 2*i+4*j==numlegs:
            return i,j
    return ns,ns

numheads=35
numlegs=94
solutions=solve(numheads,numlegs)
print (solutions)

(23, 12)

Answer 100.

In [58]:
phonebook = {"John" : 938477566,"Jack" : 938377264,"Jill" : 947662781}
for name, number in phonebook.items():
    print("Phone number of %s is %d" % (name, number))

Phone number of John is 938477566
Phone number of Jack is 938377264
Phone number of Jill is 947662781

In [59]:
phonebook["Jake"] = 938273443
del phonebook["Jill"]
print(phonebook)

{'John': 938477566, 'Jack': 938377264, 'Jake': 938273443}

# Completed